.THIS .loginForm{
    margin: auto;
    width: 30%;
    padding: 50px;
    background-color: white;
    border-radius: 5%;
        box-shadow: 0 6px 9px rgba(0,0,0,.220);

}
.THIS .Toast{  
    display: flex;
    justify-content: center;
    width: 100%; /* Full width */
    height: 0px; /* Full height */ 
    top: 10%;
    position: fixed;
    margin: auto; 
}
.THIS .mainToast{
    height: 0px;
    width: 100%;
    opacity: 0; /* Hidden by default. Visible on click */
    padding: 0;
    -webkit-transition: 0.7s linear;
    -moz-transition: 0.7s linear;
    -ms-transition:  0.7s linear;
    -o-transition:  0.7s linear;
    transition: 0.3s linear;
}
.THIS .show{        
    height: 50px;
    width: 100%;
    opacity: 1; /* Hidden by default. Visible on click */
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition:  0.3s linear;
    -o-transition:  0.3s linear;
	transition: 0.3s linear;	
}
.THIS .return{
    display: flex;
    justify-content: flex-end;
}