.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-box {
    background-color: #011e41;
    width: 100%;
    padding: 1rem;
}

/* desktop view */
@media only screen and (min-width: 1025px) {
    .image-size {
        height: 90px;
    }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 813px) and (max-device-width: 1024px) {
    .image-size {
        height: 70px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 812px) {
    .image-size {
        height: 60px;
    }
}