<template>
    <div>
        <div class="footer-box">
            <img
                src={footerImage}
                alt="Change Cloud Survey"
                class="center image-size"
            />
        </div>
    </div>
</template>