.THIS .fc-event-container a {
    cursor: default !important;
}

.THIS .anyCalendar{
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS .fc-toolbar h2 {
    margin: 0;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    color: rgb(22, 50, 92);
}
.THIS button.fc-button {
    text-transform: capitalize;
}
.THIS .fc-icon {
    font-family: 'Courier New',Courier,monospace;
}

.THIS .fc-head {
    background-color: rgb(3 45 96);
    color: white;
}

.THIS .fc-widget-header{
    color: white;
}

.THIS .fc-state-active{
    background-color: rgb(3 45 96);
    color: white;
}

.THIS .fc-state-disabled{
    background-color: rgb(3 45 96);
    color: white;
}

.THIS .fc-day-header{
    color: white;
}

.THIS h2{
    color: rgb(3 45 96);
    font-weight: bold;
}

.THIS .fc-row.fc-widget-header table thead tr th a {
    color: white !important;
}

.THIS .fc-day-grid-event .fc-content{
    white-space: normal;
}


/* CCN-EVE-3113-DV - Gian: Update UI Styles */
.THIS .slds-modal__container {
    max-width: 696px;
    width: auto;
}

.THIS .slds-modal__content {
    padding: 16px  36px 67px;
}

.THIS .slds-modal__content * {
    font-family: 'Calibri' !important;
    font-size: 18px !important;
}

.THIS .slds-modal__header {
    padding: 20px;
}

.THIS .start-end-time-container {
    display: flex;
    gap: 20px;
}

.THIS .slds-form-element {
    width: 100%;
}

.THIS .slds-modal__footer {
    padding: 16px 19px 16.5px;
    display: flex;
    justify-content: end;
    gap: 13px;
}

.THIS .footer-button {
    width: 100px;
    margin-left: unset !important;
}

@media (max-width: 767px) {
    .THIS .start-end-time-container {
        flex-direction: column;
    }
    
    .THIS .slds-modal__footer {
    	flex-direction: column;
    }
    
    .THIS .footer-button {
        width: auto;
    }
}