.THIS.navigation-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 150px;
    background-color: rgb(220 220 220);
    border-right: 12px solid rgb(150 150 150);
    height: 5.2rem;
    cursor: pointer;
    font-size: large;
    transition: 0.3s;
}

.THIS.navigation-item:hover{
    border-right: 12px solid rgb(0,59,113);
    border-left: 1px solid rgb(0,59,113);
    border-top: 1px solid rgb(0,59,113);
    border-bottom: 1px solid rgb(0,59,113);
}

.THIS.navigation-item-selected{
    background-color: rgb(0,131,193);
    border-right: 12px solid rgb(0,59,113);
    color: white;
}

.THIS .navigator-item-icon{
    height: 50%;
}

.THIS.expanded-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    transition: height 2s;
}

.THIS.expanded-list-item .bullet{
    height: 8px;
    width: 8px;
    background-color: rgb(51,51,51);
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 12px;
}

.THIS.expanded-list-item .expanded-item-label{
    cursor: pointer;
    font-size: medium;
}