.THIS {
    font-family: 'Roboto-Light';
}

@font-face{
    font-family: 'Roboto-Light';
    src:url(/resource/Roboto/Roboto-Light.ttf);
}

@font-face{
    font-family: 'Roboto-Bold';
    src:url(/resource/Roboto/Roboto-Bold.ttf);
}

.THIS.title {
    font-size: 1.4rem;
    font-family: 'Roboto-Bold';
}

.THIS.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.THIS.container .avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.THIS.container .avatar-image {
    height: 120px;
    width: 120px;
    margin: 3%;
}

.THIS.container .change-agent-name{
    font-family: 'Roboto-Bold';
    font-size: 1.6rem;
}

.THIS.container .change-agent-title{
    font-size: 1.2rem;
}

.THIS.container .navigator-button-icon{
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 120px;
    border-radius: 10px;
    font-size: x-large;
    color: white;
    cursor: pointer;
    background-color: rgb(0,131,193);
}

.THIS.container .navy-blue{
    background-color: rgb(0,59,113);
}

.THIS.container .sky-blue{
    background-color: rgb(0,131,193);
}

.THIS.container .light-green{
    background-color: rgb(147,213,0);
}

.THIS.container .navigator-button-icon img{
    width: 35%;
    margin-right: 9px;
}

.THIS .button-label{
    font-size: 1rem;
}

.THIS.container .description{
    font-size: 1.2rem;
}